.btn{
  display: block;
  background-color: gray;
  color: white;
  border-width: 1px;
  border-style: solid;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
}

.btn.btn-primary-violet-01{
  background-color: #4E1480;
  border-color: #4E1480;
}

.btn.btn-primary-violet-02{
  background-color: #8E80E2;
  border-color: #8E80E2;
}

.btn.btn-primary-violet-03{
  background-color: #FFB000;
  color: #4E1480;
  border-color: #FFB000;
}

.btn.btn-primary-yellow--outline{
  background-color: white;
  color: #4E1480;
  border-color: #FFB000;
}